<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>370628128960-4qp2mskdumn7vinsari1g1jjihemk9cv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.370628128960-4qp2mskdumn7vinsari1g1jjihemk9cv</string>
	<key>API_KEY</key>
	<string>AIzaSyAhpf_JfMMx3nFPt7LPPGKffm-Jx7GbaPU</string>
	<key>GCM_SENDER_ID</key>
	<string>370628128960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.consultorDePrecos</string>
	<key>PROJECT_ID</key>
	<string>gustavoposflutter</string>
	<key>STORAGE_BUCKET</key>
	<string>gustavoposflutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:370628128960:ios:cd69e2dd28bc48ba747d25</string>
	<key>DATABASE_URL</key>
	<string>https://gustavoposflutter-default-rtdb.firebaseio.com</string>
</dict>
</plist>